@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background: var(--cor--secundaria);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;

    --cor--primaria: #D7BBF5;
    --cor--secundaria: #ECDDFC;
    --cor--terciaria: #5D3587;
    --cor--info: #392467;
}


body{
    zoom:0.9;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 600px;
}
.main {
    width: 100%;
    display: flex;
    margin: 0 0 50px 80px;
}


.cabecalho{
    height: 2px;
    margin-top: 2px;
}
.logo {
    left: 60px;
    margin-top: 10px;
    width: 120px;
    height: 48px;
    gap: 40px;
}


.text-area {
    height: 375px;
    color: var(--cor--terciaria);
    border: none;
    margin: 80px 0 80px 100px;
    text-transform: lowercase;
    font-size: 32px;
    resize: none;
}
::placeholder {
    text-transform:none;
    color: var(--cor--info);
    font-size: 28px;
}
.text-area:focus{
    outline: none;
}


.mensagem {
    height: 655px;
    background: var(--cor--primaria);
    color: var(--cor--terciaria);
    border: none;
    border-radius: 1.5rem;
    margin: 5px 0 10px 200px;
    padding: 10px  0 0 20px;
    position: absolute;
    font-size: 32px;
    resize: none;
}
.mensagem__placeholder{
    width: 360px;
    height: 15px;
    background: var(--cor--primaria);
    margin: 100px 0 0 230px;
    align-items: center;
    position: absolute;
}
.bg-image{
    width: 330px;
    height: 300px;
    margin: 20px 0 40px 18px;
    align-items: center;
}
.mensagem__h2{
    background-color: var(--cor--primaria);
    color:var(--cor--info);
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1.5rem;
}
.mensagem__p{
    background-color: var(--cor--primaria);
    color:var(--cor--info);
    margin: 16px 0 0 0;
    text-align: center;
    font-size: 16px;
}
.mensagem:focus {
    outline: none;
}


.informacao{
    display: flex;
}
.exclamacao{
    width: 15px;
    height: 15px;
    margin: 0 0 0 100px;
}
.informacao__texto {
    color: var(--cor--info);
    margin: 0 0 0 5px;
    font-size: 14px;
    gap: 8px;
}


.botoes {
    display: flex;
    margin: 5px 0 0 100px;
}
.btn-encriptar {
    width: 328px;
    height: 67px;
    background-color: var(--cor--terciaria);
    color: var(--cor--primaria);
    border: 1px solid var(--cor--terciaria);
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 32px;
}
.btn-desencriptar {
    width: 328px;
    height: 67px;
    background-color: var(--cor--secundaria);
    color: var(--cor--terciaria);
    border: 1px solid var(--cor--terciaria);
    border-radius: 1.5rem;
    margin: 0 0 0 30px;
    cursor: pointer;
    font-size: 32px;
}



.btn-copiar {
    display: none;
    width: 60px;
    height: 60px;
    background-color: var(--cor--primaria);
    border: 1px solid var(--cor--terciaria);
    border-radius: 1.5rem;
    margin: 580px 0 0 383px;
    position: absolute;
    cursor: pointer;
}
.copy_img{
    margin: 5px 0 0 0;
    align-items: center;
    border-radius: 24px;
}


.rodape{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: var(--cor--terciaria);
    color: var(--cor--primaria);
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 30px;
    justify-content: center;
}
.icon__link{
    background: var(--cor--terciaria);
    color: var(--cor--secundaria);
}


.tool__tip {
    position: relative;
    display: inline-block;
}
.tool__tip .tool__tip__text {
    visibility: hidden;
    width: 65px;
    background-color: var(--cor--info);
    color: var(--cor--primaria);
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    margin: 0 0 0 -60px;
    opacity: 0;
    transition: opacity 0.3s;
} 
.tool__tip .tool__tip__text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--cor--terciaria) transparent transparent transparent;
}
.tool__tip:hover .tool__tip__text {
    visibility: visible;
    opacity: 1;
}


::-webkit-scrollbar {
    display: none;
}